@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,700;1,900&display=swap');
@import "../components/mixins";
@import "../components/mixinPanier";

header{
    @extend .headerStyle;
}

body{
    font-family: 'Roboto', sans-serif;

    .triage{
       margin-top: 95px;
       width: 18%;
       height: 100%;
        background-image: url(../../img/PSX_20210915_191533-1.jpg);

        .nav-link{
            color: yellow;
            width: 130px;
            padding-left: 0;
            padding-right: 0;
           
        }
       
    }
}

main{
    margin-top: 100px;
    margin-left: 17%;
    .card-img-top{
        height: 350px;
    }
    .detaille{
        display: flex;
    }
    .img-fluid{
       height: 350px;
       width: 400px;
    }
   
    #item-1-1{
        &>p{
            border-top: solid 3px black;
            border-bottom: solid 3px black;
         }
    }
 
 .card-text{
    font-size: 20px;
   }
   .VoirPlus{
    @extend .ajoutPanier;
   }
  
}
@media screen and (max-width:767px) {
    .triage{
        display: none;
     }
    main{
        margin-left: 0;
       
    }
   
     
}
@media screen and (max-width:980px) {
    header{

        nav{
            .panier{
                top: 27px;
                margin-right: -5px; 
                
            }
            .nombrePieces{
                right: 85px;
               
               
            }

        }
    }
   
   
    main{
        
        .ajoutPanier{
            width: 150px;
           
        }
        .img-fluid{
            width: 100%;
            height: 400px;
        }
        .card-text{
            font-size: 15px;
           }
           .detaille{
           flex-direction: column;
           align-items: center;
        
           margin-bottom: 20px;
           }
    }
}