
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,700;1,900&display=swap');
@import "../components/mixins";
@import "../components/mixinPanier";

header{

    @extend .headerStyle;
    
    
}


body{
    font-family: 'Roboto', sans-serif;

   
}

body{
    
    margin-top: 100px;
   
    .detaille{
        display: flex;
    }
    .img-fluid{
       height: 350px;
       width: 400px;
    }
  
 
 .card-text{
    font-size: 20px;
   }
   .ajoutPanier{
    @extend .ajoutPanier;
   }
  
}
@media screen and (max-width:767px) {
    
    
   
     
}
